package {{basePackage}};

{{#openApiNullable}}
    import com.fasterxml.jackson.databind.Module;
    import org.openapitools.jackson.nullable.JsonNullableModule;
{{/openApiNullable}}
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.FilterType;
import org.springframework.context.annotation.FullyQualifiedAnnotationBeanNameGenerator;
import org.springframework.context.annotation.Configuration;

@Configuration
@ComponentScan(
basePackages = {"{{basePackage}}", "{{apiPackage}}" , "{{configPackage}}"},
nameGenerator = FullyQualifiedAnnotationBeanNameGenerator.class
)
public class OpenApiGeneratorApplication {

{{#openApiNullable}}
    @Bean(name = "{{basePackage}}.OpenApiGeneratorApplication.jsonNullableModule")
    public Module jsonNullableModule() {
    return new JsonNullableModule();
    }
{{/openApiNullable}}

}