@use "../biblivre";
@use "../mixins";

@mixin button(
  $background-color,
  $border-color,
  $hover-background-color,
  $hover-border-color
) {
  display: inline-block;
  overflow: hidden;

  text-decoration: none;
  color: biblivre.$main-text-color;

  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 8px;

  background-color: $background-color;
  border: 2px solid $border-color;
  border-top-width: 4px;

  @include mixins.border-radius(6px);

  text-align: left;
  vertical-align: middle;

  cursor: pointer;

  text-shadow: 1px 1px #eaeaea;

  &:hover {
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }

  &.center {
    padding: 5px 15px;
    text-align: center;
  }

  &.disabled {
    color: biblivre.$disabled-text-color;
    cursor: default;

    &:hover {
      background-color: $background-color;
      border-color: $border-color;
    }
  }
}

@mixin arrow($image-url, $disabled-image-url) {
  padding-right: 25px !important;
  background-image: url($image-url);
  background-repeat: no-repeat;
  background-position: 100% 50%;

  &.disabled {
    background-image: url($disabled-image-url);
  }

  &.loading {
    background-image: url("../images/ajax-loader.gif") !important;
    background-position-x: 96%;
  }
}

a.button {
  @include button(
    biblivre.$ui-background-color,
    biblivre.$ui-border-color,
    biblivre.$ui-hover-background-color,
    biblivre.$ui-hover-border-color
  );
}

a.main_button {
  @include button(#e5f04c, #ccdc43, #c0d23e, #a3b232);
  text-shadow: none;
}

a.danger_button {
  @include button(
    biblivre.$ui-background-color,
    biblivre.$ui-border-color,
    #f6bdbd,
    #ed514b
  );
}

a.faded_button {
  @include button(#d4cfc6, #bdb8ad, #bdb8ad, #bdb8ad);
  border-top-width: 2px;
  padding: 6px 8px;
}

.arrow_right {
  @include arrow(
    "../images/button_arrow_right.png",
    "../images/button_arrow_right_disabled.png"
  );
}

.arrow_down {
  @include arrow(
    "../images/button_arrow_down.png",
    "../images/button_arrow_down_disabled.png"
  );
}

.arrow_updown {
  @include arrow(
    "../images/button_arrow_updown.png",
    "../images/button_arrow_updown_disabled.png"
  );
}
