@use "../biblivre";
@use "../mixins";

.combo_wrap {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  padding: 4px 0 4px 8px;

  background-color: biblivre.$ui-background-color;
  border: 2px solid biblivre.$ui-border-color;
  border-top-width: 4px;

  @include mixins.border-radius(6px);
  vertical-align: bottom;
  cursor: pointer;

  &.hover,
  &.active {
    background-color: biblivre.$ui-hover-background-color;
    border-color: biblivre.$ui-hover-border-color;
  }

  .combo_text {
    color: biblivre.$main-text-color;
    text-shadow: 1px 1px #ffffff;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    height: 14px;

    float: left;
    overflow: hidden;
    white-space: nowrap;
  }

  .watermark {
    color: #a1a1a1;
  }

  .combo_arrow {
    float: right;
    width: 23px;
    height: 14px;
    background-image: url("../images/button_arrow_updown.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  &.disabled {
    cursor: default;

    .combo_text {
      color: biblivre.$aux-text-color;
    }

    .combo_arrow {
      background-image: url("../images/button_arrow_updown_disabled.png");
    }
  }

  .combo_list {
    position: absolute;
    text-align: left;

    background-color: biblivre.$ui-hover-background-color;
    border: 2px solid biblivre.$ui-hover-border-color;
    border-top-width: 0;

    @include mixins.border-radius-side(6px, bottom);

    display: none;

    padding-top: 5px;
    z-index: 200;
  }

  .combo_row {
    font-size: 12px;
    line-height: 18px;
    padding: 2px 8px;

    cursor: normal;
    overflow-x: hidden;
    white-space: nowrap;

    &.hover {
      background-color: biblivre.$ui-background-color;
    }

    &:last-child {
      @include mixins.border-radius-side(6px, bottom);
    }
  }

  &.active .combo_list {
    display: block !important;
  }
}
