@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\000034}}
.multischema .enable, .multischema .disable {
  font-size: 12px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\000038}}
.multischema .enable {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000312}}
.multischema .disable {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000316}}
.multischema .library {
  margin: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000319}}
.multischema .library .checkbox {
  float: left;
  height: 45px;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000325}}
.multischema .library .title {
  font-weight: bold;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000330}}
.multischema .library a {
  font-size: 20px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000334}}
.multischema .library a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000341}}
.multischema .disabled .enable {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000345}}
.multischema .disabled .disable {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000349}}
.multischema .disabled a {
  color: red !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000355}}
.backup_schemas {
  margin-left: 45px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000362}}
#multischema_partial_restore, #multischema_full_restore, #multischema_restore_limit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000365}}
#multischema_partial_restore .description, #multischema_full_restore .description, #multischema_restore_limit .description {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000369}}
#multischema_partial_restore .type_selection, #multischema_full_restore .type_selection, #multischema_restore_limit .type_selection {
  margin: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000372}}
#multischema_partial_restore .type_selection .description, #multischema_full_restore .type_selection .description, #multischema_restore_limit .type_selection .description {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000376}}
#multischema_partial_restore .type_selection label, #multischema_full_restore .type_selection label, #multischema_restore_limit .type_selection label {
  font-weight: bold;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000385}}
#schemas_match fieldset {
  padding: 0 10px 10px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000389}}
#schemas_match .subtitle {
  color: #707070;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000394}}
#schemas_match .spacer {
  height: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\0000398}}
#schemas_match .address, #schemas_match .warn {
  padding-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003103}}
#schemas_match .new_schema, #schemas_match .dont_restore {
  margin-top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003108}}
#schemas_match .new_schema .warn {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003115}}
.digital_media_restore {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003118}}
.digital_media_restore .restore {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003124}}
#multischema_restore_limit ul {
  margin: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003127}}
#multischema_restore_limit ul li {
  list-style: disc;
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/thecleydyr\/source\/Biblivre-5\/WebContent\/static\/styles\/scss\/biblivre\.multi_schema\.scss}line{font-family:\00003134}}
#partial_restore_button {
  display: none;
}
