<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Validators -->

	<bean id="circulation.user.Validator"
		name="circulation.user.Validator"
		class="biblivre.circulation.user.Validator" scope="prototype">
		<property name="accessControlBO" ref="accessControlBO" />
		<property name="userBO" ref="userBO" />
		<property name="lendingBO" ref="lendingBO" />
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="administration.permissions.Validator"
		name="administration.permissions.Validator"
		class="biblivre.administration.permissions.Validator"
		scope="prototype">
		<property name="loginBO" ref="loginBO" />
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="login.Validator" name="login.Validator"
		class="biblivre.login.Validator">
		<property name="loginBO" ref="loginBO" />
	</bean>

	<bean id="acquisition.order.Validator"
		name="acquisition.order.Validator"
		class="biblivre.acquisition.order.Validator">
	</bean>

	<bean id="acquisition.quotation.Validator"
		name="acquisition.quotation.Validator"
		class="biblivre.acquisition.quotation.Validator">
	</bean>

	<bean id="acquisition.request.Validator"
		name="acquisition.request.Validator"
		class="biblivre.acquisition.request.Validator">
	</bean>

	<bean id="acquisition.supplier.Validator"
		name="acquisition.supplier.Validator"
		class="biblivre.acquisition.supplier.Validator">
	</bean>

	<bean id="administration.accesscards.Validator"
		name="administration.accesscards.Validator"
		class="biblivre.administration.accesscards.Validator">
	</bean>

	<bean id="administration.translations.Validator"
		name="administration.translations.Validator"
		class="biblivre.administration.translations.Validator">
	</bean>

	<bean id="administration.usertype.Validator"
		name="administration.usertype.Validator"
		class="biblivre.administration.usertype.Validator">
	</bean>

	<bean id="administration.z3950.Validator"
		name="administration.z3950.Validator"
		class="biblivre.administration.z3950.Validator">
	</bean>

	<bean id="cataloging.Validator" name="cataloging.Validator"
		class="biblivre.cataloging.Validator">
	</bean>

	<bean id="circulation.accesscontrol.Validator"
		name="circulation.accesscontrol.Validator"
		class="biblivre.circulation.accesscontrol.Validator">
	</bean>

	<bean id="multi_schema.Validator" name="multi_schema.Validator"
		class="biblivre.multi_schema.Validator">
	</bean>

	<!-- Handlers -->

	<bean id="administration.backup.Handler"
		name="administration.backup.Handler"
		class="biblivre.administration.backup.Handler" scope="prototype">
		<property name="backupBO" ref="backupBO" />
	</bean>

	<bean id="administration.accesscards.Handler"
		name="administration.accesscards.Handler"
		class="biblivre.administration.accesscards.Handler" scope="prototype">
		<property name="accessCardBO" ref="accessCardBO" />
	</bean>

	<bean id="login.Handler" name="login.Handler"
		class="biblivre.login.Handler">
		<property name="loginBO" ref="loginBO" />
		<property name="indexingBO" ref="indexingBO" />
		<property name="authorizationBO" ref="authorizationBO" />
		<property name="backupBO" ref="backupBO" />
	</bean>

	<bean id="circulation.accesscontrol.Handler"
		name="circulation.accesscontrol.Handler"
		class="biblivre.circulation.accesscontrol.Handler" scope="prototype">
		<property name="accessCardBO" ref="accessCardBO" />
		<property name="accessControlBO" ref="accessControlBO" />
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="acquisition.quotation.Handler"
		name="acquisition.quotation.Handler"
		class="biblivre.acquisition.quotation.Handler" scope="prototype">
		<property name="quotationBO" ref="quotationBO" />
	</bean>

	<bean id="menu.Handler" name="menu.Handler"
		class="biblivre.menu.Handler" scope="prototype">
		<property name="userBO" ref="userBO" />
		<property name="supplierBO" ref="supplierBO" />
		<property name="requestBO" ref="requestBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="z3950BO" ref="z3950BO" />
		<property name="backupBO" ref="backupBO" />
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="acquisition.request.Handler"
		name="acquisition.request.Handler"
		class="biblivre.acquisition.request.Handler" scope="prototype">
		<property name="requestBO" ref="requestBO" />
	</bean>

	<bean id="acquisition.order.Handler"
		name="acquisition.order.Handler"
		class="biblivre.acquisition.order.Handler" scope="prototype">
		<property name="orderBO" ref="orderBO" />
	</bean>

	<bean id="acquisition.supplier.Handler"
		name="acquisition.supplier.Handler"
		class="biblivre.acquisition.supplier.Handler" scope="prototype">
		<property name="supplierBO" ref="supplierBO" />
	</bean>

	<bean id="administration.permissions.Handler"
		name="administration.permissions.Handler"
		class="biblivre.administration.permissions.Handler" scope="prototype">
		<property name="permissionBO" ref="permissionBO" />
		<property name="loginBO" ref="loginBO" />
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="administration.reports.Handler"
		name="administration.reports.Handler"
		class="biblivre.administration.reports.Handler" scope="prototype">
		<property name="reportsBO" ref="reportsBO" />
	</bean>

	<bean id="cataloging.authorities.Handler"
		name="cataloging.authorities.Handler"
		class="biblivre.cataloging.authorities.Handler" scope="prototype">
		<property name="paginableRecordBO" ref="authorityRecordBO" />
	</bean>

	<bean id="cataloging.bibliographic.Handler"
		name="cataloging.bibliographic.Handler"
		class="biblivre.cataloging.bibliographic.Handler" scope="prototype">
		<property name="paginableRecordBO" ref="biblioRecordBO" />
	</bean>

	<bean id="cataloging.vocabulary.Handler"
		name="cataloging.vocabulary.Handler"
		class="biblivre.cataloging.vocabulary.Handler" scope="prototype">
		<property name="paginableRecordBO" ref="vocabularyRecordBO" />
	</bean>

	<bean id="cataloging.holding.Handler"
		name="cataloging.holding.Handler"
		class="biblivre.cataloging.holding.Handler" scope="prototype">
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="holdingBO" ref="holdingBO" />
	</bean>

	<bean id="cataloging.labels.Handler"
		name="cataloging.labels.Handler"
		class="biblivre.cataloging.labels.Handler" scope="prototype">
		<property name="holdingBO" ref="holdingBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
	</bean>

	<bean id="cataloging.Handler" name="cataloging.Handler"
		class="biblivre.cataloging.Handler" scope="prototype">
		<property name="recordBOs" ref="recordBOs" />
		<property name="indexingBO" ref="indexingBO" />
		<property name="z3950BO" ref="z3950BO" />
		<property name="importBO" ref="importBO" />
	</bean>

	<bean id="circulation.lending.Handler"
		name="circulation.lending.Handler"
		class="biblivre.circulation.lending.Handler" scope="prototype">
		<property name="userBO" ref="userBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="holdingBO" ref="holdingBO" />
		<property name="lendingBO" ref="lendingBO" />
		<property name="userTypeBO" ref="userTypeBO" />
		<property name="lendingFineBO" ref="lendingFineBO" />
		<property name="reservationBO" ref="reservationBO" />
	</bean>

	<bean id="circulation.reservation.Handler"
		name="circulation.reservation.Handler"
		class="biblivre.circulation.reservation.Handler" scope="prototype">
		<property name="userBO" ref="userBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="reservationBO" ref="reservationBO" />
	</bean>

	<bean id="circulation.user.Handler"
		name="circulation.user.Handler"
		class="biblivre.circulation.user.Handler" scope="prototype">
		<property name="userBO" ref="userBO" />
		<property name="lendingBO" ref="lendingBO" />
		<property name="lendingFineBO" ref="lendingFineBO" />
		<property name="reservationBO" ref="reservationBO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
	</bean>

	<bean id="circulation.user_cards.Handler"
		name="circulation.user_cards.Handler"
		class="biblivre.circulation.user_cards.Handler" scope="prototype">
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="z3950.Handler" name="z3950.Handler"
		class="biblivre.z3950.Handler" scope="prototype">
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="z3950BO" ref="z3950BO" />
	</bean>

	<bean id="administration.indexing.Handler"
		name="administration.indexing.Handler"
		class="biblivre.administration.indexing.Handler" scope="prototype">
		<property name="indexingBO" ref="indexingBO" />
	</bean>

	<bean id="administration.usertype.Handler"
		name="administration.usertype.Handler"
		class="biblivre.administration.usertype.Handler" scope="prototype">
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="digitalmedia.Handler" name="digitalmedia.Handler"
		class="biblivre.digitalmedia.Handler" scope="prototype">
		<property name="digitalMediaBO" ref="digitalMediaBO" />
	</bean>

	<bean id="administration.configurations.Handler"
		name="administration.configurations.Handler"
		class="biblivre.administration.configurations.Handler"
		scope="prototype">
	</bean>

	<bean id="administration.customization.Handler"
		name="administration.customization.Handler"
		class="biblivre.administration.customization.Handler"
		scope="prototype">
	</bean>

	<bean id="administration.setup.Handler"
		name="administration.setup.Handler"
		class="biblivre.administration.setup.Handler" scope="prototype">
		<property name="restoreBO" ref="restoreBO" />
		<property name="backupBO" ref="backupBO" />
		<property name="dataMigrationBO" ref="dataMigrationBO" />
	</bean>

	<bean id="administration.translations.Handler"
		name="administration.translations.Handler"
		class="biblivre.administration.translations.Handler" scope="prototype">
	</bean>

	<bean id="administration.z3950.Handler"
		name="administration.z3950.Handler"
		class="biblivre.administration.z3950.Handler" scope="prototype">
		<property name="z3950BO" ref="z3950BO" />
	</bean>

	<bean id="multi_schema.Handler" name="multi_schema.Handler"
		class="biblivre.multi_schema.Handler" scope="prototype">
	</bean>

	<!-- BOs -->

	<bean id="accessControlBO" name="accessControlBO"
		class="biblivre.circulation.accesscontrol.AccessControlBO">
		<property name="accessControlDAO" ref="accessControlDAO" />
		<property name="accessCardBO" ref="accessCardBO" />
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="accessCardBO" name="accessCardBO"
		class="biblivre.administration.accesscards.AccessCardBO">
		<property name="accessCardDAO" ref="accessCardDAO" />
	</bean>

	<bean id="permissionBO" name="permissionBO"
		class="biblivre.administration.permissions.PermissionBO">
		<property name="permissionDAO" ref="permissionDAO" />
	</bean>

	<bean id="loginBO" name="loginBO" class="biblivre.login.LoginBO">
		<property name="loginDAO" ref="loginDAO" />
		<property name="permissionBO" ref="permissionBO" />
	</bean>

	<bean id="supplierBO" name="supplierBO"
		class="biblivre.acquisition.supplier.SupplierBO">
		<property name="supplierDAO" ref="supplierDAO" />
	</bean>

	<bean id="requestBO" name="requestBO"
		class="biblivre.acquisition.request.RequestBO">

		<property name="requestDAO" ref="requestDAO" />
	</bean>

	<bean id="quotationBO" name="quotationBO"
		class="biblivre.acquisition.quotation.QuotationBO">
		<property name="quotationDAO" ref="quotationDAO" />
		<property name="supplierBO" ref="supplierBO" />
		<property name="requestBO" ref="requestBO" />
	</bean>

	<bean id="orderBO" name="orderBO"
		class="biblivre.acquisition.order.OrderBO">
		<property name="orderDAO" ref="orderDAO" />
		<property name="quotationBO" ref="quotationBO" />
		<property name="supplierBO" ref="supplierBO" />
		<property name="requestBO" ref="requestBO" />
	</bean>

	<bean id="userBO" name="userBO"
		class="biblivre.circulation.user.UserBO">
		<property name="userDAO" ref="userDAO" />
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="biblioRecordBO" name="biblioRecordBO"
		class="biblivre.cataloging.bibliographic.BiblioRecordBO">
		<property name="holdingBO" ref="holdingBO" />
		<property name="recordDAO" ref="recordDAO" />
		<property name="searchDAO" ref="searchDAO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
		<property name="indexingBO" ref="indexingBO" />
		<property name="lendingBO" ref="lendingBO2" />
		<property name="reservationBO" ref="reservationBO" />
		<property name="authorizationBO" ref="authorizationBO" />
	</bean>

	<bean id="vocabularyRecordBO" name="vocabularyRecordBO"
		class="biblivre.cataloging.vocabulary.VocabularyRecordBO">
		<property name="holdingBO" ref="holdingBO" />
		<property name="recordDAO" ref="recordDAO" />
		<property name="searchDAO" ref="searchDAO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
		<property name="indexingBO" ref="indexingBO" />
		<property name="authorizationBO" ref="authorizationBO" />
	</bean>

	<bean id="authorityRecordBO" name="authorityRecordBO"
		class="biblivre.cataloging.authorities.AuthorityRecordBO">
		<property name="holdingBO" ref="holdingBO" />
		<property name="recordDAO" ref="recordDAO" />
		<property name="searchDAO" ref="searchDAO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
		<property name="indexingBO" ref="indexingBO" />
		<property name="authorizationBO" ref="authorizationBO" />
	</bean>

	<bean id="holdingBO" name="holdingBO"
		class="biblivre.cataloging.holding.HoldingBO">
		<property name="holdingDAO" ref="holdingDAO" />
		<property name="loginBO" ref="loginBO" />
		<property name="userBO" ref="userBO" />
		<property name="authorizationBO" ref="authorizationBO" />
	</bean>

	<bean id="indexingBO" name="indexingBO"
		class="biblivre.administration.indexing.IndexingBO">
		<property name="recordBOs" ref="recordBOs" />
		<property name="indexingDAO" ref="indexingDAO" />
	</bean>

	<bean id="lendingBO" name="lendingBO"
		class="biblivre.circulation.lending.LendingBO">
		<property name="lendingDAO" ref="lendingDAO" />
		<property name="userBO" ref="userBO" />
		<property name="holdingBO" ref="holdingBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="userTypeBO" ref="userTypeBO" />
		<property name="lendingFineBO" ref="lendingFineBO" />
	</bean>

	<bean id="lendingBO2" name="lendingBO2"
		class="biblivre.circulation.lending.LendingBO2">
		<property name="lendingDAO" ref="lendingDAO" />
	</bean>

	<bean id="userTypeBO" name="userTypeBO"
		class="biblivre.administration.usertype.UserTypeBO">
		<property name="userTypeDAO" ref="userTypeDAO" />
		<property name="userBO" ref="userBO" />
	</bean>

	<bean id="lendingFineBO" name="lendingFineBO"
		class="biblivre.circulation.lending.LendingFineBO">
		<property name="lendingFineDAO" ref="lendingFineDAO" />
		<property name="holdingBO" ref="holdingBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="lendingBO" ref="lendingBO" />
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="reservationBO" name="reservationBO"
		class="biblivre.circulation.reservation.ReservationBO">
		<property name="reservationDAO" ref="reservationDAO" />
		<property name="userBO" ref="userBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="userTypeBO" ref="userTypeBO" />
	</bean>

	<bean id="digitalMediaBO" name="digitalMediaBO"
		class="biblivre.digitalmedia.DigitalMediaBO">
		<property name="digitalMediaDAO" ref="digitalMediaDAO" />
	</bean>

	<bean id="importBO" name="importBO"
		class="biblivre.cataloging.ImportBO">
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="vocabularyRecordBO" ref="vocabularyRecordBO" />
		<property name="authorityRecordBO" ref="authorityRecordBO" />
	</bean>

	<bean id="z3950BO" name="z3950BO" class="biblivre.z3950.Z3950BO">
		<property name="z3950DAO" ref="z3950DAO" />
	</bean>

	<bean id="authorizationBO" name="authorizationBO"
		class="biblivre.core.auth.AuthorizationBO">
		<property name="authorizationDAO" ref="authorizationDAO" />
	</bean>

	<bean id="backupBO" name="backupBO"
		class="biblivre.administration.backup.BackupBO">
		<property name="backupDAO" ref="backupDAO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
	</bean>

	<bean id="reportsBO" name="reportsBO"
		class="biblivre.administration.reports.ReportsBO">
		<property name="reportsDAO" ref="reportsDAO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
	</bean>

	<bean id="restoreBO" name="restoreBO"
		class="biblivre.administration.backup.RestoreBO">
		<property name="digitalMediaDAO" ref="digitalMediaDAO" />
		<property name="backupBO" ref="backupBO" />
	</bean>

	<bean id="dataMigrationBO" name="dataMigrationBO"
		class="biblivre.administration.setup.DataMigrationBO">
		<property name="accessControlBO" ref="accessControlBO" />
		<property name="accessCardBO" ref="accessCardBO" />
		<property name="loginBO" ref="loginBO" />
		<property name="userBO" ref="userBO" />
		<property name="quotationBO" ref="quotationBO" />
		<property name="orderBO" ref="orderBO" />
		<property name="supplierBO" ref="supplierBO" />
		<property name="requestBO" ref="requestBO" />
		<property name="biblioRecordBO" ref="biblioRecordBO" />
		<property name="authorityRecordBO" ref="authorityRecordBO" />
		<property name="vocabularyRecordBO" ref="vocabularyRecordBO" />
		<property name="holdingBO" ref="holdingBO" />
		<property name="lendingBO" ref="lendingBO" />
		<property name="userTypeBO" ref="userTypeBO" />
		<property name="lendingFineBO" ref="lendingFineBO" />
		<property name="reservationBO" ref="reservationBO" />
		<property name="digitalMediaBO" ref="digitalMediaBO" />
		<property name="dataMigrationDAO" ref="dataMigrationDAO" />
		<property name="setupDAO" ref="setupDAO" />
	</bean>

	<!-- DAOs -->

	<bean id="accessControlDAO"
		class="biblivre.circulation.accesscontrol.AccessControlDAOImpl"
		factory-method="getInstance" />

	<bean id="accessCardDAO"
		class="biblivre.administration.accesscards.AccessCardDAOImpl"
		factory-method="getInstance" />

	<bean id="permissionDAO"
		class="biblivre.administration.permissions.PermissionDAOImpl"
		factory-method="getInstance" />

	<bean id="loginDAO" class="biblivre.login.LoginDAOImpl"
		factory-method="getInstance" />

	<bean id="orderDAO"
		class="biblivre.acquisition.order.OrderDAOImpl"
		factory-method="getInstance" />

	<bean id="requestDAO"
		class="biblivre.acquisition.request.RequestDAOImpl"
		factory-method="getInstance" />

	<bean id="quotationDAO"
		class="biblivre.acquisition.quotation.QuotationDAOImpl"
		factory-method="getInstance" />

	<bean id="supplierDAO"
		class="biblivre.acquisition.supplier.SupplierDAOImpl"
		factory-method="getInstance" />

	<bean id="userDAO" class="biblivre.circulation.user.UserDAOImpl"
		factory-method="getInstance" />

	<bean id="recordDAO" class="biblivre.cataloging.RecordDAOImpl"
		factory-method="getInstance" />

	<bean id="searchDAO"
		class="biblivre.cataloging.search.SearchDAOImpl"
		factory-method="getInstance" />

	<bean id="holdingDAO"
		class="biblivre.cataloging.holding.HoldingDAOImpl"
		factory-method="getInstance" />

	<bean id="indexingDAO"
		class="biblivre.administration.indexing.IndexingDAOImpl"
		factory-method="getInstance" />

	<bean id="lendingDAO"
		class="biblivre.circulation.lending.LendingDAOImpl"
		factory-method="getInstance" />

	<bean id="userTypeDAO"
		class="biblivre.administration.usertype.UserTypeDAOImpl"
		factory-method="getInstance" />

	<bean id="lendingFineDAO"
		class="biblivre.circulation.lending.LendingFineDAOImpl"
		factory-method="getInstance" />

	<bean id="reservationDAO"
		class="biblivre.circulation.reservation.ReservationDAOImpl"
		factory-method="getInstance" />

	<bean id="backupDAO"
		class="biblivre.administration.backup.BackupDAOImpl"
		factory-method="getInstance" />

	<bean id="indexingGroupsDAO"
		class="biblivre.administration.indexing.IndexingGroupsDAOImpl"
		factory-method="getInstance" />

	<bean id="reportsDAO"
		class="biblivre.administration.reports.ReportsDAOImpl"
		factory-method="getInstance" />

	<bean id="dataMigrationDAO"
		class="biblivre.administration.setup.DataMigrationDAOImpl"
		factory-method="getInstance" />

	<bean id="setupDAO"
		class="biblivre.administration.setup.SetupDAOImpl"
		factory-method="getInstance" />

	<bean id="digitalMediaDAO"
		class="biblivre.digitalmedia.DigitalMediaDAOFactory"
		factory-method="getDigitalMediaDAOImpl" />

	<bean id="z3950DAO" class="biblivre.z3950.Z3950DAOImpl"
		factory-method="getInstance" />

	<bean id="authorizationDAO"
		class="biblivre.core.auth.AuthorizationDAOImpl"
		factory-method="getInstance" />

	<bean
		class="org.springframework.beans.factory.config.MapFactoryBean"
		id="recordBOs">
		<property name="targetMapClass">
			<value>java.util.HashMap</value>
		</property>
		<property name="sourceMap">
			<map>
				<entry key="BIBLIO" value-ref="biblioRecordBO" />
				<entry key="HOLDING" value-ref="holdingBO" />
				<entry key="AUTHORITIES" value-ref="authorityRecordBO" />
				<entry key="VOCABULARY" value-ref="vocabularyRecordBO" />
			</map>
		</property>
	</bean>
</beans>