<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<servlet>
		<servlet-name>SchemaServlet</servlet-name>
		<servlet-class>biblivre.core.controllers.SchemaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SchemaServlet</servlet-name>
		<url-pattern>/legacy</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error_404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/error_fatal.jsp</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/jsp/error_fatal.jsp</location>
	</error-page>

	<filter>
		<display-name>ExtendedRequestResponseFilter</display-name>
		<filter-name>ExtendedRequestResponseFilter</filter-name>
		<filter-class>biblivre.core.controllers.ExtendedRequestResponseFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ExtendedRequestResponseFilter</filter-name>
		<url-pattern>/legacy/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
</web-app>